.detailItemSection {
  display: flex;
  align-items: center;
  height: 24px;
}

.detailIcon {
  width: 20px !important;
  height: 20px !important;
  margin-top: 2px;
  margin-right: 12px;
  color: #2d2d2d !important;
}

.detailText {
  font-size: 14px !important;
}

@media (min-width: 600px) and (max-width: 959px) {
  .detailIcon {
    margin-right: 8px;
  }
}
